@import './variable.module.scss';
.feed {
    border-left: 1px solid rgba($blanc, .5);
    border-right:1px solid rgba($blanc, .5);
    display:flex;
    flex-direction: column;
    height:100%;
    align-content: space-between;
    max-width:50%;
    width:50%;
}