.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;

  .bg_left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url(../public/background.png) top left no-repeat;
    background-size: cover;
    height: 100vh;
    width: 38%;
    max-width: 38%;
    .logo {
      width: 60%;
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      .logo_img {
        max-width: 100%;
        max-height: 100%;
        rotate: 180deg;
      }
    }
  }
}
.bg_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 100vh;
  width: 62%;
  max-width: 62%;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5em;
    height: 100%;
    .logo {
      width: 100%;
      height: 10%;
      .logo_img {
        max-width: 100%;
        max-height: 100%;
        rotate: 180deg;
      }
    }
  }
}


.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}