@import './variable.module.scss';
.leftside {
    display:flex;
    flex-direction: column;
    height:calc(100vh - 4em);
    justify-content: space-between;
    align-content: space-between;
    padding: 2em 0 2em 2em;
    max-width:15%;
    width:15%;
    @media (max-width:500px) {
        width:100%;
        max-width:100%;
        height:auto;
        flex-direction: row;
        position:absolute;
        bottom:0;
        background:$couleur-bg;
        justify-content: space-between;
        border-top:1px solid rgba($blanc, .5);
        align-content: center;

    }

    .logo {
        text-align:left;
        position:relative;
        left:0;
        display:block;
        
        img {
            left:0;
            position:absolute;
            display:block;
            float:left;
            width:50px;
            height:auto;
            rotate: 180deg;
        
        }
    }
    .user {
        font-size: 1em;
        text-align: left;
        @media (max-width:500px) {
            width:250px;
            text-align: center;
        }

        .user_info {
            display:flex;
            gap:1em;
            .user_img {
                width:50px;
                height:50px;
                border-radius:50%;
                object-fit:cover;
            }
            .user_name {
                display:flex;
                flex-direction:column;
                gap:0.2em;
                h3 {
                    font-family: 'Mont-Heavy', Verdana, Geneva, Tahoma, sans-serif;
                    color: $blanc !important;
                    margin:0;
                }
                p {
                    margin:0;
                    color: $blanc !important;
                    opacity: 0.6;
                }
            }
        }
    }
}