@import './variable.module.scss';
.publishTweet {
    border-bottom:1px solid rgba($blanc, .5);
    padding:2em;

    h1 {
        font-size: 1.5em;
        margin-bottom:1em;
    }
    form {
        padding:0 2em;
        display:flex;
        align-items: flex-end;
        textarea {
            background-color: transparent;
            border:0;
            border-bottom: 1px solid rgba($blanc, .5);
            font-size:1.3em;
            width:100%;
            line-height: 2em;
            color: rgba($blanc, .5);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        div {
            display:flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            float:right;
            text-align: right;

            p {
                margin-right:15px;
            }
        }

    }
}